@use '/src/styles/base/variables' as *;

.public-routines {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__list {
    display: flex;
    flex-direction: column;
    padding: $small-gap $small-gap $small-gap 0;
    gap: $small-gap;

    &--pagination {
      display: flex;
      justify-content: center;
    }
  }
}

.customTablePagination .MuiTablePagination-toolbar {
  min-height: 60px;
}

.customTablePagination .MuiTablePagination-selectLabel,
.customTablePagination .MuiTablePagination-input,
.customTablePagination .MuiTablePagination-displayedRows {
  font-size: $font-size-small;
}

.customTablePagination .MuiIconButton-root {
  padding: 0;
  font-size: $font-size-small;
  color: $accent-color;
}
.customTablePagination .MuiSelect-icon {
  color: $accent-color;
}
.customTablePagination .Mui-disabled {
  color: $secondary-color;
}

.MuiMenu-paper {
  background-color: $primary-color !important;
  color: $text-color !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.MuiMenuItem-root {
  font-size: $font-size-small !important;
}
