@import "../../../styles/base/variables";

.form-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
    width:100%;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 1rem;
    }
}