@import '@/styles/base/variables';

.public-routine-list-item {
  min-width: 180px;
  max-width: 100%;
  height: 6rem;
  border-radius: $border-radius-base;
  border: 1px solid $secondary-color;

  &__name {
    cursor: pointer;
  }
  
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}
