@use '/src/styles/base/variables' as *;

.public-routine-list-item {
  min-width: 180px;
  max-width: 100%;
  border-radius: $border-radius-base;
  border: $border;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    cursor: pointer;
  }

  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  &_like-container {
    padding: 0.5rem 0;
  }
}
