@import '@/styles/base/variables';

.exercise-card {
  padding: 8px;
  width: 500px;
  border: 1px solid $secondary-color;
  border-radius: $border-radius-base;
  position: relative;

  .divider {
    margin: 8px 0;
    border-color: #6c757d;
  }

  .notes {
    margin-top: 8px;
  }

  @media (max-width: 1690px) {
    width: auto;
    min-width: 180px;
    max-width: 500px;
  }
}
