@import '@/styles/base/variables';

.exercise-card {
  padding: 16px;
  border: 1px solid $secondary-color;
  border-radius: $border-radius-base;
  width: 100%;
  box-sizing: border-box;

  .divider {
    margin: 8px 0;
    border-color: #6c757d;
    width: auto;
    max-width: 100%;
  }

  .notes {
    margin-top: 8px;
  }
}
