@import '/src/styles/base/variables';

.login_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px;
  height: 100%;

  .login_form {
    display: flex;
    flex-direction: column;

    .form-field {
      margin-bottom: 16px;
    }
  }
  .login_form_text {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_swap_form {
      margin-top: 16px;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }

    &_footer {
      font-size: $font-size-very-small;
    }
  }
}
