@import '/src/styles/base/variables';

.register_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px;
  height: 100%;

  .register_form {
    display: flex;
    flex-direction: column;
    .show-password-button {
      color: $text-color;
    }
    .form-field {
      margin-bottom: 16px;
    }
  }
  .register_form_text {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_swap_form {
      margin-top: 16px;
      &:hover {
        cursor: pointer;
        color: $gray-500;
      }
    }

    &_footer {
      font-size: $font-size-very-small;
    }
  }
}


.MuiStepLabel-label {
  color: $text-color !important; /* Default text */
}

.Mui-active .MuiStepLabel-label {
  color: $text-color !important; /* Active step text */
}

.Mui-completed .MuiStepLabel-label {
  color: $success-color !important; /* Completed step text */
}

.MuiStepIcon-root {
  color: $text-color !important; /* Default circle */
}

.Mui-active .MuiStepIcon-root {
  color: $accent-color !important; /* Active circle */
}

.Mui-completed .MuiStepIcon-root {
  color: $success-color !important; /* Completed circle */
}
