@use '/src/styles/base/variables' as *;

.exercise-modal-dialog {
  .MuiPaper-root {
    color: $text-color;
    background-color: $primary-color;
    border-radius: 8px;
    border: 1px solid $secondary-color;

    .MuiTypography-root {
      color: $text-color;
    }
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;

  & > * {
    flex: 1;
    margin-right: 1rem;
  }

  & > *:last-child {
    margin-right: 0;
  }

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
