@use '/src/styles/base/variables' as *;

.forgot_password_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 48px;
  height: 100%;

  .forgot_password_form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.forgot_password_header {
  padding-bottom: 16px;
  border-bottom: $border;
}

.forgot_password_description {
  margin-bottom: 24px;
}

.forgot_password_email_button {
  margin-top: 16px;
}

.forgot_password_login_redirect {
  margin-top: 12px;
  &:hover {
    cursor: pointer;
    color: $gray-500;
  }
}
