@import '../../../styles/base/variables';

.public-routine-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: calc(100vh - 216px);
  max-height: calc(100dvh - 216px);
  overflow-y: auto;
}
.public-routine-list-wrapper .MuiList-root {
  display: flex;
  flex-direction: column;
  padding: $small-gap $small-gap $small-gap 0;
}
.public-routine-list-wrapper {
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 100%;
  padding: 0;
}

.public-routine-pagination {
  display: flex;
  justify-content: center;
}

.customTablePagination .MuiTablePagination-toolbar {
  min-height: 60px;
}

.customTablePagination .MuiTablePagination-selectLabel,
.customTablePagination .MuiTablePagination-input,
.customTablePagination .MuiTablePagination-displayedRows {
  font-size: $font-size-small;
}

.customTablePagination .MuiIconButton-root {
  padding: 0;
  font-size: $font-size-small;
  color: $accent-color;
}
.customTablePagination .MuiSelect-icon {
  color: $accent-color;
}
.customTablePagination .Mui-disabled {
  color: $secondary-color;
}

.MuiMenu-paper {
  background-color: $primary-color !important;
  color: $text-color !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.MuiMenuItem-root {
  font-size: $font-size-small !important;
}

@media (max-width: $breakpoint-tablet) {
  .public-routine-container {
    max-height: calc(100dvh - 200px);
  }
}


@media (max-width: $breakpoint-phone) {
  .public-routine-container {
    max-height: calc(100dvh - 230px);
  }
}
