@use '/src/styles/base/variables' as *;

.search-textfield {
  background-color: $secondary-color;
  border-radius: $border-radius-base;

  &.MuiOutlinedInput-root {
    background-color: $secondary-color;
    border-radius: $border-radius-base;
  }
  .MuiOutlinedInput-input {
    background-color: $secondary-color;
    border-radius: $border-radius-base;
  }

  .MuiInputBase-adornedEnd {
    background-color: $secondary-color;
    border-radius: $border-radius-base;
  }
}

.search-icon {
  color: $text-color;
}
