.app_logo_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;

	.app_logo {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 768px) {
	.app_logo_container {
		.app_logo {
			width: 24px;
			height: 24px;
		}
	}
}
