@use '/src/styles/base/variables' as *;

.password_change_container {
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius-medium;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .password_change_form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 48px;
    height: 100%;

    .password_change_description {
      margin-bottom: 16px;
    }

    .change_password_form-field {
      margin-bottom: 16px;
    }

    .show-password-button {
      color: $text-color;
    }

    .password_change_header {
      padding-bottom: 16px;
      border-bottom: $border;
    }
    .password_change_login_redirect {
      margin-top: 12px;
      &:hover {
        cursor: pointer;
        color: $gray-500;
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .password_change_container {
    height: 100dvh;
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    border: none;
  }
}
