@use '/src/styles/base/variables' as *;

.routines-container {
  width: 100%;
  max-height: 100%;
}

.routines-top {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.search-bar {
  padding: 0;
  height: 3rem;
  width: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  border-radius: $border-radius-large;

  & .search-button {
    height: 100%;
    background-color: transparent;
    color: $text-color;
  }

  .search-field {
    padding: 0;
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text-color;

    & :active {
      border: none;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 1rem;
      width: 1rem;
      margin-left: 0.4em;
      margin-right: 0.6rem;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
      cursor: pointer;
    }
  }
}

.routine-options {
  grid-column-start: 4;
  grid-column-end: 5;
  width: fit-content;
  justify-self: end;
}

@media (max-width: $breakpoint-phone) {
  .routines-top {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .search-bar {
    width: 100%;
  }

  .routine-options {
    width: 100%;
  }

  .new-routine-btn {
    width: 100%;
  }
}
