@use '/src/styles/base/variables' as *;

.user_avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.user_icon {
		color: $text-color;
	}

	.avatar-image {
		background-color: $accent-color;
		width: 30px;
		height: 30px;
	}
}

.user_menu .MuiPaper-root {
	background-color: $background-color;
	box-shadow: $box-shadow-base;
}

.menu_list_item {
	.menu_list_text {
		font-size: $font-size-small;
		color: $text-color;
	}
	.menu_list_icon {
		color: $text-color;
	}
	&:hover {
		.menu_list_text {
			color: $gray-500;
		}
		.menu_list_icon {
			color: $gray-500;
		}
	}
}

.options_menu {
	display: none !important;
}

@media (max-width: $breakpoint-phone) {
	.options_menu {
		display: flex !important;
	}
}
