@import '@/styles/base/variables';

.user_avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.user_icon {
		color: $gray-700;
	}
}

.options_menu {
	display: none !important;
}

.menu_list_item {
	color: $gray-700;
}

@media (max-width: 480px) {
	.options_menu {
		display: flex !important;
	}
}
