@import '/src/styles/base/variables';

.routine_options_button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.options_icon {
		color: $text-color;
	}
}

.routine_options_menu .MuiPaper-root {
	background-color: $background-color;
	box-shadow: $box-shadow-base;
}

.menu_list_item {
	.menu_list_text {
		font-size: $font-size-small;
		color: $text-color;
	}
	.menu_list_icon {
		color: $text-color;
	}
	&:hover {
		.menu_list_text {
			color: $gray-500;
		}
		.menu_list_icon {
			color: $gray-500;
		}
	}
}
