@import '@/styles/base/variables';

.workout-create {
  width: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

@import '@/styles/base/variables';

@import '@/styles/base/variables';

.exercise-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px 0;
}


