@import '@/styles/base/variables';

.workout-create {
  width: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $gap-base;
  }
}

.exercise-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $gap-base;
  padding: $padding-base 0;
}
