@import '../../../styles/base/variables';

.routine-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $small-gap;
  padding: $small-gap $small-gap $small-gap 0;
  max-height: calc(100dvh - 232px);
  overflow-y: auto;
  // overflow-x: hidden;
}

@media (max-width: 1690px) {
  .routine-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: $breakpoint-tablet) {
  .routine-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: calc(100dvh - 64px - 150px);
  }
}

@media (max-width: $breakpoint-phone) {
  .routine-list-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-height: calc(100dvh - 64px - 181px);
  }
}
