@import '../../../styles/base/variables';

.routine-list-item {
  padding: 8px;
  width: 500px;
  height: 9rem;
  position: relative;
  border-radius: $border-radius-base;
  border: $border;

  &_name {
    display: block;
    margin-right: 3rem;

    & h3 {
      margin: 0.5rem 0;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_description {
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  &_options {
    position: absolute;
    right: 1rem;
    top: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &_like-container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}

@media (max-width: 1690px) {
  .routine-list-item {
    width: auto;
    min-width: 160px;
    max-width: 500px;
  }
}
