@import "../../../styles/base/variables";

.routine-list-item {
  padding: 8px;
  min-width: 180px;
  max-width: 500px;
  height: 9rem;
  position: relative;
  border-radius: $border-radius-base;
  border: 1px solid $secondary-color;

  &_name {
    display: block;
    margin-right: 2rem;

    & h3 {
      margin: 0.5rem 0;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &_description {
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  &_options {
    position: absolute;
    right: 0.4rem;
    top: 0.7rem;

    &:hover {
      cursor: pointer;
    }
  }

  & .likes-container {
    width: 4.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: $border-radius-medium;
    border: 1px solid $secondary-color;
    overflow: hidden;

    & .active {
      color: $accent-color;
    }
  }

  & .likes-number {
    width: 100%;
    max-width: 2.25rem;
    padding-left: 0.35rem;
    padding-right: 0.2rem;
    background-color: $secondary-color;
    overflow: hidden;

    & p {
      height: 100%;
      text-align: end;
      vertical-align: middle;
    }
  }

  & .likes-icon {
    padding: 0.15rem 0.25rem 0.15rem 0.15rem;
    border-left: 1px solid $secondary-color;

    &:hover {
      cursor: pointer;
    }
  }
}