@import '../../../styles/base/variables';

.routine-details-container {
  width: 100%;
}

.routine-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
  text-align: center;
}

.routine-body {
  overflow-y: auto;
  max-height: calc(100vh - 280px);
  max-height: calc(100dvh - 280px);
}

.routine-options-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .routine-options {
    width: auto;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;

    & button {
      margin-left: 0.5rem;
      margin-bottom: 1px;
    }
  }
}

.delete-routine-button {
  color: $red-delete;
  border-color: $red-delete;
}
