@import '@/styles/base/variables';

.layout {
	height: 100dvh;
	width: 100%;
	display: inline-grid;
	grid-template-columns: 72px auto;
	grid-template-rows: 64px auto 24px;

	&_logo {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		border-right: solid 1px $gray-800;
	}

	&_navigation {
		display: flex;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 4;
		border-right: solid 1px $gray-800;
	}
	&_topSection {
		display: flex;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
		border-bottom: solid 1px $gray-800;
	}
	&_outlet {
		display: flex;
		padding: 24px;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
		max-height: calc(100vh - 64px);
		max-height: calc(100dvh - 64px);
		overflow: scroll;
	}
	&_footer {
		display: flex;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
		border-top: solid 1px $gray-800;
	}
}

@media (max-width: $breakpoint-tablet) {
	.layout {
		grid-template-columns: 48px auto;
		grid-template-rows: 48px auto 24px;

		&_outlet {
			max-height: calc(100vh - 48px);
			max-height: calc(100dvh - 48px);
			overflow: scroll;
		}
	}
}

@media (max-width: $breakpoint-phone) {
	.layout {
		display: inline-grid;
		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: auto 64px;

		&_logo {
			display: none;
		}
		&_navigation {
			display: flex;
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 2;
			border-right: none;
			border-top: solid 1px $gray-800;
		}
		&_topSection {
			display: fix;
			grid-column-start: 4;
			grid-column-end: 6;
			grid-row-start: 2;
			grid-row-end: 2;
			border-bottom: none;
			border-top: solid 1px $gray-800;
		}
		&_outlet {
			display: flex;
			padding: 8px;
			grid-column-start: 1;
			grid-column-end: 6;
			grid-row-start: 1;
			grid-row-end: 1;
			max-height: calc(100vh - 64px);
			max-height: calc(100dvh - 64px);
			overflow: scroll;
		}
		&_footer {
			display: none;
		}
	}
}
