@use '/src/styles/base/variables' as *;

.exercises {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__search-bar {
    margin-top: 4px;
    padding: 0;
    height: 3rem;
    max-width: $breakpoint-phone;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    border-radius: $border-radius-large;

    &--button {
      height: 100%;
      background-color: transparent;
      color: $text-color;
    }

    &--field {
      padding: 0;
      height: 3rem;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: $text-color;

      & :active {
        border: none;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1rem;
        width: 1rem;
        margin-left: 0.4em;
        margin-right: 0.6rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
        cursor: pointer;
      }
    }
  }

  &__list {
    margin-top: $margin-base;
    overflow-y: auto;
  }

  .exercises-pagination {
    display: flex;
    justify-content: center;
  }

  .exercisesPagination .MuiIconButton-root {
    padding: 0;
    font-size: $font-size-small;
    color: $accent-color;
  }
  .exercisesPagination .MuiSelect-icon {
    color: $accent-color;
  }
  .exercisesPagination .Mui-disabled {
    color: $secondary-color;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .exercises {
    &__search-bar {
      align-self: center;
      width: 100%;
    }

    &__list {
      margin-top: $margin-base;
      overflow-y: auto;
      justify-items: center;
    }
  }
}
