@use '/src/styles/base/variables' as *;

.exercises {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--search {
      width: 320px;
    }

    &--multi-select {
      width: 320px;
    }
  }

  &__list {
    margin-top: $margin-base;
    overflow-y: auto;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .exercises {
    &__top {
      display: flex;
      flex-direction: column;
      gap: $gap-base;
      justify-items: center;
    }

    &__list {
      margin-top: $margin-base;
      overflow-y: auto;
      justify-items: center;
    }
  }
}
