@import "../../styles/base/variables";

.my_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: calc(100vh - 64px);
    }

    @media (max-width: $breakpoint-phone) {
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    max-width: 1000px;
    height: min(1000, 65vh);
    position: relative;
    overflow: hidden;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        padding: 0.3rem;
        min-width: auto;
        height: 84vh;
        overflow: hidden;
    }

    @media (max-width: $breakpoint-phone) {
        min-width: unset;
        margin-left: auto;
        margin-right: auto;
        padding: 0.6rem;
        height: 84vh;
        max-width: unset;
        width: 94vw;
    }

    .avatar-image {
        min-width: min(300px, 37vh, 27vw );
        min-height: min(300px, 37vh, 27vw );
        margin-bottom: 25px;

        @media (max-width: $breakpoint-tablet) {
            min-width: 200px;
            min-height: 200px;
            align-self: center;
        }

        @media (max-width: $breakpoint-phone) {
            margin-bottom: 6vh;
        }
    }
    
    .profile-data-container {
        margin-left: min(60px, 5vw);
        width: 40vw;
        display: flex;
        flex-direction: column;
        gap: 0.2rem; 

        @media (max-width: $breakpoint-tablet) {
            margin-left: unset;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: calc(100% - 15px);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .fullname-text {
            margin: 0;
            font-size: 2rem;
    
            @media (max-width: $breakpoint-tablet) {
                font-size: 1.3rem;
                margin-bottom: 1vh;
            }
        }
        
        .username-text {
         opacity: 0.6;
         margin: 0; 
         font-size: 1rem;
    
            @media (max-width: $breakpoint-tablet) {
                font-size: 1rem;
                margin-bottom: 1vh;
            }
        }
    
        .location-field {
            display: flex;
            align-items: center;
            margin-top: 1rem;
            font-size: 1rem;
      
            .location-icon {
              margin-right: 0.5rem;
            }
      
            @media (max-width: $breakpoint-tablet) {
              font-size: 1rem;
              margin-bottom: 1vh;
            }
          }
      
        .bio-field {
            margin-top: 1rem;
            font-size: 1rem;
            opacity: 0.8;
        }

        .form-field {
            margin-bottom: 0.5rem;
            width: 100%;

            @media (max-width: $breakpoint-tablet) {
                width: 62vw;
            }

            @media (max-width: $breakpoint-phone) {
                width: 80vw;
            }
        }
    
        .form-control {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            position: 20%;

    
            @media (max-width: $breakpoint-tablet) {
                margin-top: 10%;
            }

            @media (max-width: $breakpoint-phone) {
                margin-top: 5%;
            }
        }
    }
}

