@import '/src/styles/base/variables';

.muscle-group-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    height: 280px;
    padding: $padding-base;
  }
}

@media (max-width: $breakpoint-phone) {
  .muscle-group-chart {
    &__content {
      height: 280px;
    }
  }
}
