@use '/src/styles/base/variables' as *;

.login_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px;
  height: 100%;

  .login_form {
    display: flex;
    flex-direction: column;

    .show-password-button {
      color: $text-color;
    }
    .form-field {
      margin-bottom: 16px;
    }
    .remember-me-box {
      display: flex;
      align-items: center;
      .remember-me {
        width: 16px;
        height: 16px;
        margin: 0 0 0 5px;
        cursor: pointer;
        appearance: none;
        background-color: $text-color;

        &:checked {
          appearance: revert;
          accent-color: $accent-color;
        }
      }
    }
  }
  .login_form_text {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_swap_form {
      margin-top: 16px;
      &:hover {
        cursor: pointer;
        color: $gray-500;
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .login_container {
    padding: 32px;
  }
}
