@import '@/styles/base/variables';

.notifications {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
	cursor: pointer;
	color: $gray-700;

	&:hover {
		color: $accent-color2;
		transition: color, 0.5s ease-in-out;
	}
}

@media (max-width: 480px) {
	.notifications {
		margin-right: 0px;
	}
}
