@import '@/styles/base/variables';

.notifications {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
	cursor: pointer;
	color: $text-color;

	&:hover {
		color: $accent-color;
		transition: color, $transition-duration-base $transition-easing-base;
	}
}

@media (max-width: $breakpoint-phone) {
	.notifications {
		margin-right: 0px;
		width: 36px;
		height: 36px;

		&:hover {
			color: $text-color;
			border-radius: $border-radius-medium;
			background-color: $gray-500;
			transition: background-color $transition-duration-base $transition-easing-base;
		}
	}
}
