@import '@/styles/base/variables';

.workout-create {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .delete-workout-button {
      color: $red-delete;
      border-color: $red-delete;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;

    .name-and-date {
      .calendar .MuiSvgIcon-root {
        color: $text-color;
      }
      .calendar .MuiTypography-root {
        color: $text-color;
      }
      .calendar .MuiDateCalendar-root {
        color: $text-color;
      }
      .calendar .MuiDayCalendar-root {
        color: $text-color !important;
      }
    }
  }
}

.exercise-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
  max-height: calc(100dvh - 482px);
  overflow-y: auto;
  margin-bottom: 8px;

  .add-exercise {
    padding: 16px;
    border: 1px solid $secondary-color;
    border-radius: $border-radius-base;
    box-sizing: border-box;
  }
}

.MuiTypography-root .MuiTypography-caption .MuiDayCalendar-weekDayLabel {
  color: $text-color;
}

.MuiDayCalendar-header span {
  // trickery, not sure why this dont work without it :O
  color: $text-color !important;
}

.MuiPickersDay-today {
  // trickery, not sure why this dont work without it :O
  border: 1px solid $text-color !important;
}
