@import '@/styles/base/variables';

.workout-form {
  width: 100%;
}

.workout-create {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  overflow-y: auto;

  &-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 16px;

    .workout-options {
      width: auto;
      display: flex;
      justify-content: end;
      flex-wrap: wrap;

      & button {
        margin-left: 0.5rem;
        margin-bottom: 1px;
      }
    }

    .delete-workout-button {
      color: $red-delete;
      border-color: $red-delete;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;

    .name-and-date {
      .calendar .MuiSvgIcon-root {
        color: $text-color;
      }
      .calendar .MuiTypography-root {
        color: $text-color;
      }
      .calendar .MuiDateCalendar-root {
        color: $text-color;
      }
      .calendar .MuiDayCalendar-root {
        color: $text-color !important;
      }
    }

    .comment {
      margin-top: 0.5rem;

      &-field {
        width: 100%;
      }

      .MuiInputLabel-root {
        color: $text-color;
      }
    }
  }
}

.exercise-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
  max-height: calc(100dvh - 482px);
  overflow-y: auto;
  margin-bottom: 8px;

  .add-exercise {
    padding: 16px;
    border: 1px solid $secondary-color;
    border-radius: $border-radius-base;
    box-sizing: border-box;
  }
}

.MuiTypography-root .MuiTypography-caption .MuiDayCalendar-weekDayLabel {
  color: $text-color;
}

.MuiDayCalendar-header span {
  // trickery, not sure why this dont work without it :O
  color: $text-color !important;
}

.MuiPickersDay-today {
  // trickery, not sure why this dont work without it :O
  border: 1px solid $text-color !important;
}

@media (max-width: $breakpoint-phone) {
  .exercise-list-wrapper {
    max-height: calc(100dvh - 490px);
  }
}