@use '/src/styles/base/variables' as *;

.likes-notification-drawer {
  .MuiDrawer-paper {
    background-color: $primary-color;
    color: $text-color;
    border-left: 1px solid $secondary-color;

    @media (min-width: $breakpoint-phone) {
      width: 400px;
    }

    @media (max-width: $breakpoint-phone) {
      width: 100%;
      height: 80%;
    }
  }

  svg {
    color: $text-color;
  }
}
