@import '/src/styles/base/variables';

.home {
  flex-grow: 1;
  overflow-y: auto;
  &__date {
    font-size: $font-size-medium;
    color: $accent-color;
  }
  &__content {
    padding-right: $padding-base;
  }
}
