@import '/src/styles/base/variables';

.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__date {
    font-size: $font-size-medium;
    color: $accent-color;
  }
  &__content {
    overflow-y: auto;
  }
}
