// Colors
$primary-color: #181818; // Dark gray for the primary background
$secondary-color: #282828; // Slightly lighter gray for secondary elements
$accent-color: #3867c5; // Cognizant blue for accents
$text-color: #6c757d; // Gray for text
$background-color: #181818; // Same as primary color
$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$gray-700: #6c757d;
$gray-800: #3f454b;
$gray-900: #212529;
$red-delete: #a81111;
$success-color: #388e3c;

// Typography
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-size-very-small: 12px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 24px;
$line-height-base: 1.5;
$letter-spacing-base: 0.5px;

// Spacing
$padding-base: 16px;
$margin-base: 16px;
$gap-base: 16px;
$small-gap: 8px;
$medium-gap: 12px;
$large-gap: 24px;

// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;

// Other
$border: solid 1px $secondary-color;
$border-radius-base: 8px;
$border-radius-medium: 12px;
$border-radius-large: 16px;
$box-shadow-base: 0px 2px 5px rgba(255, 255, 255, 0.1);
$transition-duration-base: 0.3s;
$transition-easing-base: ease-in-out;
