@import './variables';

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  accentColor: $accent-color;
  textColor: $text-color;
  backgroundColor: $background-color;
  white: $white;
  black: $black;
  gray100: $gray-100;
  gray200: $gray-200;
  gray500: $gray-500;
  gray700: $gray-700;
  gray900: $gray-900;
  redDelete: $red-delete;

  fontFamilyPrimary: $font-family-primary;
  fontFamilySecondary: $font-family-secondary;
  fontSizeBase: $font-size-base;
  fontSizeSmall: $font-size-small;
  fontSizeMedium: $font-size-medium;
  fontSizeLarge: $font-size-large;
  lineHeightBase: $line-height-base;
  letterSpacingBase: $letter-spacing-base;

  paddingBase: $padding-base;
  marginBase: $margin-base;
  gapBase: $gap-base;
  smallGap: $small-gap;
  mediumGap: $medium-gap;
  largeGap: $large-gap;

  breakpointPhone: $breakpoint-phone;
  breakpointTablet: $breakpoint-tablet;

  borderRadiusBase: $border-radius-base;
  boxShadowBase: $box-shadow-base;
  transitionDurationBase: $transition-duration-base;
  transitionEasingBase: $transition-easing-base;
}