.top_section {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-right: 24px;

	&_item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
	}
}

@media (max-width: 480px) {
	.top_section {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 0;
		&_item {
			display: flex;
			justify-content: center;
		}
	}
}
