@import '/src/styles/base/variables';

.user-message-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 255px;
  min-height: 140px;
  border-radius: $border-radius-base;
  border: 3px inset $accent-color;
  background-color: $secondary-color;
  justify-content: center;
  text-align: center;
  padding: $padding-base;
  &__content {
    color: $text-color;
    font-size: $font-size-medium;

    &:hover {
      color: $accent-color;
    }
  }
}
